<article class="single-article-history">
	<div>
		{{article.title}}
	</div>

	<div>
		<ol class="revision-history-list">
			{{#each}}
			<li>
				{{article.user.username}} - <a href="/revisions/{{article.revision.id}}">{{format_date  article.revision.created_at}}, {{format_time
					 article.revision.created_at}}</a>
			</li>
			{{/each}}
		</ol>
	</div>
</article>