<form id="update-form" class="box">
    <div class='card'>
        <div class='card-content'>
            <p class='title'>{{article.title}}</p>
            <div class='field'>
                <label class='label' for="content">Article Content</label>
                <div class='control'>
                    <textarea class='textarea' name="content" rows="15">{{article.content}}</textarea>
                </div>
            </div>
            <div class='field'>
                <label class='label'>Article Images</label>
                <div id="article-images" class='control'>
                    {{#each article.images as |image|}}
                    <div data-id="{{image.id}}" class="columns">
                        {{!-- url --}}
                        <div class="column">
                            <input class='input' value="{{image.image_url}}" disabled>
                        </div>
                        {{!-- buttons --}}
                        <div class="column is-2 is-flex is-justify-content-flex-end">
                            <div class="is-grouped">
                                <button class="button is-warning">Edit</button>
                                <button class="button is-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{!-- add image --}}
                <div class="pt-3 is-flex is-justify-content-flex-end">
                    <div class="is-grouped">
                        <button id="add-img-btn" class="button is-light is-rounded">Add an Image</button>
                    </div>
                </div>
            </div>
            <div class="pt-5 is-flex is-justify-content-flex-end">
		        <div class="is-grouped">
                    <button id="update" class="button is-success" type='submit'>Submit</button>
                    <a href="/article/{{article.id}}" class="button is-light">Cancel</a>
                    <button id="delete-btn" class="button is-danger">Delete This Article</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/javascript/edit-article.js"></script>
<script src="/javascript/delete-article.js"></script>
<script src="/javascript/edit-images.js"></script>