

<article class="single-article-history">
	<div>
		{{revision.article.title}}
{{!--revert button changes the article to this version--}}
		<button data-id="{{revision.id}}">Revert</button>
		</br>
		
		<p class="article-content">{{revision.changes}}</p>
	</div>
	<div class="meta">
		</br>
		created by {{revision.article.user.username}}
		</br>

		{{format_date revision.created_at}},
		{{format_time revision.created_at}}
		</br>

		{{revision.article.comments.length}} {{word_format "comment" revision.comments.length}}
		</br>
	</div>
</article>
{{#if loggedIn}}
{{!--{{>add-comments}} - TODO - Create add-comments partial--}}
{{/if}}
{{>comments}}

{{!--<script src="/javascript/history.js"></script>--}}