<article class="single-article">
	<div>

			{{article.title}}

		<p class="article-content">{{article.content}}</p>

	</div>
	<div class="meta">
		</br>
			posted by {{article.user.username}}
		</br>

		{{date_format article.created_at}}
		</br>

		{{article.comments.length}} {{word_format "comment" comments.length}}
		</br>

	</div>
</article>
{{#if loggedIn}}
{{>add-comment}}
{{/if}}
{{>comment-content}}