<section class="single-article-history">
	<h2 class="title">Viewing Revision for: {{revision.article.title}}</h2>
	<h3 class="subtitle">
		created by {{revision.user.username}} on {{date_format revision.created_at}}
	</h3>
	<div class="card card-content">
		<p>{{revision.changes}}</p>
	</div>

	<br />
	
	<div class="is-flex is-justify-content-flex-end">
		<div class="is-justify-content-space-between">
		<button data-id="{{id}}" class="button is-danger">Revert to this Revision</button>
        <a href="/revision/{{id}}"><button class="button is-warning">View this Revision</button></a>
		</div>
	</div>
</section>

<script src="/public/javascript/history.js"></script>