<article class="single-article">
	<div>
		{{article.title}}
		</br>
		<a href="/article/{{article.id}}/history">{{article.revisions.length}}
			{{word_format "revision" article.revisions.length}}</a>
		<a href="/article/{{article.id}}/edit">Edit</a>

		<p class="article-content">{{article.content}}</p>
	</div>
	<div class="meta">


		{{date_format article.created_at}}
		</br>

		{{article.comments.length}} {{word_format "comment" article.comments.length}}
		</br>
	</div>
</article>
{{#if loggedIn}}
<div class='field' id='new-comment-form'>
	<label for='comment'>Add a comment:</label>
	<div class='control'>
		<textarea class='textarea is-small' id='new-comment' placeholder='Go for CAPCOM'></textarea>
	</div>
</div>
{{/if}}
{{>comments article.comments}}