<article class="single-article">
	<div class="card has-text-black">
		<div
			class="card-header card-header-title is-flex is-justify-content-space-between p-3 has-background-grey-lighter is-size-4">
			{{article.title}}
			<span class="is-size-6">{{date_format article.created_at}}</span>
		</div>
		<div class="card-content">
			<div class="mb-2">
				<a href="/article/{{article.id}}/history">{{article.revisions.length}}
					{{word_format "Revision" article.revisions.length}}</a>
				{{#if loggedIn}}
				| <a href="/article/{{article.id}}/edit">Edit</a>
				{{/if}}
			</div>
			<p class="article-content">
				{{#if article.images}}
				{{>images article.images}}
				{{/if}}
				{{article.content}}
			</p>
		</div>
	</div>
</article>
<div class="m-1">
	</br>
	{{article.comments.length}} {{word_format "comment" article.comments.length}}
	</br>
	{{>comments article.comments}}
</div>
<div class="container my-2 mx-0">
	{{#if loggedIn}}
	<div class="card">
		<div class="card-content">
			<form class="comment-form" id="comment-form" class="is-fullhd">
				<textarea name="comment-body" class='textarea is-small' placeholder='Go for CAPCOM'></textarea>
				<div class="is-flex is-justify-content-flex-end">
					<button type="submit" class="button is-link mt-2">add comment</button>
				</div>
			</form>
		</div>
	</div>
	<script src="/javascript/add-comment.js"></script>
	{{/if}}
</div>