<article class="single-article">
	<div class="card has-text-black">
		<div
			class="card-header card-header-title is-flex is-justify-content-space-between p-3 has-background-grey-lighter is-size-4">
			Viewing Revision for: {{revision.article.title}}

			<span class="is-size-6">created by {{revision.user.username}} on {{date_format revision.created_at}}</span>
		</div>
		<div class="card-content">
			<div class="mb-2">
				<div class="card card-content has-text-black">
					{{#if revision.article.images}}
					{{>images revision.article.images}}
					{{/if}}
					<p>{{revision.changes}}</p>
				</div>
			</div>
			<br />
		</div>
	</div>
</article>
{{#if loggedIn}}
<div class="is-flex is-justify-content-flex-end">
	<div class="is-justify-content-space-between p-3 m-2">
		<button id="revise" data-id="{{revision.id}}" class="button is-danger m-2">Revert to this
			Revision</button>
		<a href="/article/{{revision.article.id}}/history"><button class="button is-light m-2">Go
				Back</button></a>
	</div>
</div>
{{/if}}


<script src="/javascript/revert.js"></script>
<script src="/javascript/single-history.js"></script>

