<article class="single-article">
	<div>
		{{article.title}}
		</br>
		<a href="/article/{{article.id}}/history">{{article.revisions.length}}
			{{word_format "revision" article.revisions.length}}</a>
		<a href="/article/{{article.id}}/edit">Edit</a>

		<p class="article-content">{{article.content}}</p>
	</div>
	<div class="meta">


		{{date_format article.created_at}}
		</br>

		{{article.comments.length}} {{word_format "comment" article.comments.length}}
		</br>
	</div>
</article>
<div class="container comment-section">
	{{#if loggedIn}}
	<article class="card">
		<div class="card-header card-header-title is-flex is-justify-content-space-between">
			<form class="comment-form" id="comment-form">
				<div class='control'>
					<textarea name="comment-body" class='textarea is-medium' placeholder='Go for CAPCOM'></textarea>
				</div>
				<div>
					<button type="submit" class="btn">add comment</button>
				</div>
			</form>
		</div>
	</article>
	<script src="/javascript/add-comment.js"></script>
	{{/if}}
</div>
{{>comments article.comments}}