<article class="single-article">
	<div>
		{{article.title}}
		</br>
		<a href="/article/{{article.id}}/history">{{article.revisions.length}}
			{{word_format "revision" article.revisions.length}}</a>
		<a href="/article/{{article.id}}/edit">Edit</a>

		<p class="article-content">{{article.content}}</p>
	</div>
	<div class="meta">


		{{date_format article.created_at}}
		</br>

		{{article.comments.length}} {{word_format "comment" article.comments.length}}
		</br>
	</div>
</article>
{{#if loggedIn}}
{{!--{{>add-comments}} - TODO - Create add-comments partial--}}
{{/if}}
{{>comments article.comments}}