<article class="single-article">
	<div>
		{{article.title}}
		</br>
		<a href="/article/{{article.id}}/history">{{article.revisions.length}}
			{{word_format "revision" article.revisions.length}}</a>
		<a href="/article/{{article.id}}/edit">Edit</a>

		<p class="article-content">{{article.content}}</p>
	</div>
	<div class="meta">


		{{date_format article.created_at}}
		</br>

		{{article.comments.length}} {{word_format "comment" article.comments.length}}
		</br>
	</div>
</article>
<div class="container comment-section">
	{{#if loggedIn}}
	<div class="card">
		<div class="card-content">
			<form class="comment-form" id="comment-form" class="is-fullhd">
				<textarea name="comment-body" class='textarea is-small' placeholder='Go for CAPCOM'></textarea>
				<div class="is-flex is-justify-content-flex-end">
					<button type="submit" class="button is-link" style="margin: 15px;">add comment</button>
				</div>
			</form>
		</div>
	</div>
	<script src="/javascript/add-comment.js"></script>
	{{/if}}
</div>
{{>comments article.comments}}